.vscode/*
*.spec
*.exe
*.code-workspace
config/*
namelists/*
src/test/*
build/*
dist/*
start.build/*
start.dist/*
venv/*
O:/*
plugins/*
*.zip
dev-tools/*
__pycache__/
*.py[cod]
*$py.class
